*,
*:before,
*:after {
    box-sizing: inherit
}

body {
    margin: 0px;
    display: block;
    background-color: rgb(245, 245, 245);
}

html {
    box-sizing: border-box;
    overflow: auto;
}

.content {
    width: 100%;
    content: "";
    display: table;
    clear: both;
    max-width: 1400px;
    margin: 0px auto 0px auto;
    padding: 16px 8px;

}

h1 {
    margin: 0px;
    color: gray
}

div {
    display: block;
    margin: 0;
    border: 0;
}

.left {
    height: auto;
    width: 100%;
    float: left;
    padding: 0px 8px 16px 8px;
}

.right {
    height: auto;
    width: 100%;
    float: left;
    padding: 0px 8px 16px 8px;
}

@media (min-width: 600px) {
    .left {
        width: 25%;
    }
    .right {
        width: 75%;
    }
}

.profilepic {
    border-radius: 10px 10px 0px 0px;
    max-width: 100%;
    height: auto;
    display: block;
}

.pic {
    border-radius: 10px 10px 0px 0px;

}

.leftitems {
    height: auto;
    box-shadow: 0px 0px 15px -5px gray;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(185, 185, 185);
}

.rightitems {
    box-shadow: 0px 0px 15px -5px gray;
    border-radius: 10px 10px 10px 10px;
    background-color: white;

}

.nameicon {
    color: darkgreen;
    margin: 0 16px 0 auto;
    height: 20px;
    width: 20px;
    float: left;
}

.name {
    position: relative;
    max-width: 100%;
    height: auto;
    display: block;
}

.briefcase:before {
    content: "/";
}

p {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.information {
    width: 100%;
    padding: 0px 15px;
    display: table;
}

footer {
    content: "";
    display: table;
    clear: both;
}